certifi==2023.11.17
charset-normalizer==3.3.2
exceptiongroup==1.2.0
idna==3.6
importlib==1.0.4
iniconfig==2.0.0
oauthlib==3.2.2
packaging==23.2
pika==1.3.2
pluggy==1.4.0
Pypubsub==4.0.3
pysubpub==0.2.0
pytest==8.0.0
python-dotenv==1.0.1
python-systemd==0.0.9
requests==2.31.0
requests-oauthlib==1.3.1
systemd-python==235
tomli==2.0.1
urllib3==2.1.0
